<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.toast.toast.Toast"
        version="1.5.2">


    <name>Toast</name>
    <description>Toast for cordova plugin</description>
    <author>Toast</author>
    <keywords>Toast</keywords>
    <license>Apache 2.0 License</license>

    <engines>
        <engine name="cordova" version=">=3.0"/>
    </engines>

    <!-- android -->
    <platform name="android">

        <js-module src="www/toast.js" name="toast">
            <merges target="window.plugins.Toast" />
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ToastPlugin">
                <param name="android-package" value="com.toast.toast.ToastPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/ToastPlugin.java" target-dir="src/com/toast/toast"/>

    </platform>

</plugin>
