<?xml version="1.0" encoding="UTF-8"?>

<plugin
      version="0.3.0">


    <js-module src="www/echo.js" name="echo">
        <merges target="navigator.notification" />
    </js-module>


    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Echo">
                <param name="android-package" value="org.apache.cordova.plugs.Echo" />
            </feature>
        </config-file>


        <js-module src="www/echo.js" name="echo">
            <clobbers target="navigator.notification"/>
        </js-module>


        <source-file src="src/android/Echo.java" target-dir="src/android/"/>









    </platform>




</plugin>
